<article class="post col-md-6 col-lg-4" v-masonry-tile>
    <div class="post__card">
        <a href="{{ post.url }}" title="{{ post.title }}">
            <figure class="post__thumbnail">
                <img class="img-fluid lozad" data-src="{{ post.cover | absolute_url }}" src="{{ "/assets/images/loading-image.gif" | absolute_url }}" alt="{{ post.title }}">
            </figure>
        </a>
        <div class="post__details">
            <div class="post__meta d-flex justify-content-between">
                <div class="post__category">
                    {% for category in post.categories %}
                        {% if forloop.index == post.categories.size %}
                           <a href='{{ site.baseurl }}category/{{ category | downcase | replace: ' ', '-' }}/'>{{ category | upcase }}</a>
                        {% else %}
                           <a href='{{ site.baseurl }}category/{{ category | downcase | replace: ' ', '-' }}/'>{{ category | upcase }}</a>,
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <h3 class="post__title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            <p class="post__description text-muted">
                {% if post.description %}
                    {{ post.description }}
                {% else %}
                    {{ post.content | strip_html | truncatewords: 20, "..." }}
                {% endif %}
            </p>
        </div>
        <div class="post__footer d-flex justify-content-between align-items-center">
            <span class="post__date">
                <i class="far fa-calendar-alt"></i>
                {{ post.date | date: "%B, %Y" }}
            </span>
            <span class="post__view">
                <a href="{{ post.url }}" title="view post">
                    view post <i class="fas fa-long-arrow-alt-right"></i>
                </a>
            </span>
        </div>
    </div>
</article>
