<article class="post col-md-4" v-masonry-tile>
    <div class="post__card">
        <div class="post__thumbnail">
            <a href="{{ post.url }}" title="{{ post.title }}">
                <img class="img-fluid lozad" data-src="{{ post.cover | absolute_url }}" alt="{{ post.title }}">
            </a>
        </div>
        <div class="post__details">
            <div class="post__meta d-flex justify-content-between">
                <div class="post__date">{{ post.date | date: "%Y %B" }}</div>
                <div class="post__category">
                    {% for tag in post.tags %}
                        {% if forloop.index == post.tags.size %}
                           <a href='{{ site.baseurl }}tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | upcase }}</a>
                        {% else %}
                           <a href='{{ site.baseurl }}tag/{{ tag | downcase | replace: ' ', '-' }}/'>{{ tag | upcase }}</a>,
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <h3 class="post__title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            <p class="post__description text-muted">{{ post.content | strip_html | truncatewords: 20, "..." }}</p>
        </div>
    </div>
</article>
