<header class="header">
    <h1 class="header__brand">
        <a href="{{ "/" | absolute_url }}">{{ site.title }}</a>
        <small>{{ site.description }}</small>
    </h1>

    <nav class="header__nav">
        <ul class="navbar">
            {% if page.url != "/" %}
            <li class="navbar__item">
                <a href="{{ "/" | absolute_url }}" class="navbar__link navbar__link--active">
                    <i class="fas fa-long-arrow-alt-left"></i> Página inicial
                </a>
            </li>
            {% endif %}
            <li class="navbar__item">
                <a href="https://onedev.studio/projetos/" target="_blank" class="navbar__link">
                    <small><i class="fas fa-external-link-alt"></i></small>
                    Projetos</a>
            </li>
            <li class="navbar__item">
                <a href="https://onedev.studio/fale-conosco/" target="_blank" class="navbar__link">
                    <small><i class="fas fa-external-link-alt"></i></small>
                    Contato</a>
            </li>
        </ul>
    </nav>

    {% include social-icons.html %}
</header>
