<header class="header">
    <!-- <nav class="header__nav">
        <ul class="navbar">
            {% if page.url != "/" %}
            <li class="navbar__item">
                <a href="{{ "/" | absolute_url }}" class="navbar__link navbar__link--active">
                    <i class="fas fa-long-arrow-alt-left"></i>
                    <span class="sr-only">Página inicial</span>
                </a>
            </li>
            {% endif %}
            <li class="navbar__item">
                <a href="https://onedev.studio/projetos/" target="_blank" class="navbar__link">
                    <small><i class="fas fa-external-link-alt"></i></small>
                    Projetos
                </a>
            </li>
            <li class="navbar__item">
                <a href="https://onedev.studio/fale-conosco/" target="_blank" class="navbar__link">
                    <small><i class="fas fa-external-link-alt"></i></small>
                    Contato
                </a>
            </li>
        </ul>
    </nav> -->

    <h1 class="header__brand">
        <a href="{{ '/' | absolute_url }}">
            {{ site.title }}
            <small>{{ site.description }}</small>
        </a>
    </h1>

    {% include social-icons.html %}
</header>

<!--
{% if page.url == "/" %}
    {% include banner.html %}
{% endif %}
-->

<!-- {% include banner-umbler.html %} -->
