<article class="postlist__item" v-masonry-tile>
    <a class="postlist__card" href="{{ post.url }}" title="{{ post.title }}">
        <figure class="postlist__thumbnail">
            <img src="{{ post.cover | absolute_url }}" alt="{{ post.title }}">
        </figure>
        <header class="postlist__details">
            <div class="postlist__meta">
                <div class="postlist__category">
                    {% for category in post.categories %}
                        {% if forloop.index == post.categories.size %}
                           {{ category | upcase }}
                        {% else %}
                           {{ category | upcase }},
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <h1 class="postlist__title">{{ post.title }}</h1>
            <p class="postlist__description">
                {% if post.description %}
                    {{ post.description }}
                {% else %}
                    {{ post.content | strip_html | truncatewords: 20, "..." }}
                {% endif %}
            </p>
        </header>
        <footer class="postlist__footer">
            <span class="postlist__date">
                <i class="far fa-calendar-alt"></i>
                {{ post.date | date: "%B, %Y" }}
            </span>
            <span class="postlist__view">
                Ver post <i class="fas fa-long-arrow-alt-right"></i>
            </span>
        </footer>
    </a>
</article>
