{% if page.tags.size > 0 %}
    {% assign primary = page.tags | first %}
    {% assign related_posts = 0 %}
    {% for post in site.posts %}
      {% if post.tags.size > 0 %}
          {% if post.tags contains primary %}
            {% assign related_posts = related_posts | plus: 1 %}
          {% endif %}
      {% endif %}
    {% endfor %}
    {% if related_posts > 1 %}
        <article class="read-next-card"
            {% if site.cover %}
                style="background-image: url(/{{ site.cover }})"
            {% else %}
                {% if page.cover %}
                    style="background-image: url(url(/{{ page.cover }})"{% endif %}
            {% endif %}
        >
            <header class="read-next-card-header">
                <small class="read-next-card-header-sitetitle">&mdash; {{ site.title }} &mdash;</small>
                {% if primary %}
                    <h3 class="read-next-card-header-title"><a href="/tag/{{ primary | downcase | replace: ' ', '-' }}/">{{ primary | capitalize }}</a></h3>
                {% endif %}
            </header>
            <div class="read-next-card-content">
                <ul>
                    {% assign count = 0 %}
                    {% for post in site.posts %}
                      {% if post.tags contains primary %}
                        {% if post.title != page.title %}
                            {% assign count = count | plus: 1 %}
                            {% if count <= 3 %}
                                <li><a href="/{{ post.url | remove_first: '/' }}">{{ post.title }}</a></li>
                            {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <footer class="read-next-card-footer">
                <a href="/tag/{{ primary | downcase | replace: ' ', '-' }}/">
                    {% if related_posts > 1 %}
                        See all {{ related_posts | minus: 1 }} posts  →
                    {% elsif related_posts == 1 %}
                        {{ related_posts }} post  →
                    {% else %}
                        No posts.
                    {% endif %}
                </a>
            </footer>
        </article>
    {% endif %}
{% endif %}
