<aside class="col-lg-4">
    <div class="widget search">
        <header>
            <h3 class="h6">Search the blog</h3>
        </header>
        <form action="#" class="search-form">
            <div class="form-group">
                <input type="search" placeholder="What are you looking for?">
                <button type="submit" class="submit">
                    <i class="icon-search"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="widget latest-posts">
        <header>
            <h3 class="h6">Latest Posts</h3>
        </header>
        <div class="blog-posts">
            {% for post in site.posts limit:5 %}
                <a href="{{ post.url }}">
                    <div class="item">
                        <div class="image">
                            <img src="{{ post.cover | absolute_url }}" alt="{{ post.title }}" class="img-fluid">
                        </div>
                        <div class="title">
                            <strong>{{ post.title }}</strong>
                            <div>
                                <div class="views">
                                    <i class="icon-eye"></i> 500</div>
                                <div class="comments">
                                    <i class="icon-comment"></i>12</div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="widget categories">
        <header>
            <h3 class="h6">Categories</h3>
        </header>
        <div class="item">
            <a href="#">Growth</a>
            <span>12</span>
        </div>
        <div class="item">
            <a href="#">Local</a>
            <span>25</span>
        </div>
        <div class="item">
            <a href="#">Sales</a>
            <span>8</span>
        </div>
        <div class="item">
            <a href="#">Tips</a>
            <span>17</span>
        </div>
        <div class="item">
            <a href="#">Local</a>
            <span>25</span>
        </div>
    </div>

    <div class="widget tags">
        <header>
            <h3 class="h6">Tags</h3>
        </header>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#" class="tag">#Business</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="tag">#Technology</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="tag">#Fashion</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="tag">#Sports</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="tag">#Economy</a>
            </li>
        </ul>
    </div>
</aside>
