<ul class="navbar-nav ml-auto d-none d-lg-flex">
    <li class="nav-item">
        <a href="https://github.com/{{ site.github }}" target="_blank" class="nav-link">
            <i class="fab fa-github"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank" class="nav-link">
            <i class="fab fa-twitter-square"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="https://instagram.com/{{ site.instagram }}" target="_blank" class="nav-link">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" class="nav-link">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ "/feed.xml" | absolute_url }}" target="_blank" class="nav-link">
            <i class="fas fa-rss"></i>
        </a>
    </li>
</ul>
