<ul class="navbar navbar--social">
    <li class="navbar__item">
        <a href="https://github.com/{{ site.github }}" target="_blank" class="navbar__link">
            <i class="fab fa-github"></i>
            <span class="sr-only">Link para o perfil @{{ site.github }} no Github</span>
        </a>
    </li>
    <li class="navbar__item">
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank" class="navbar__link">
            <i class="fab fa-twitter-square"></i>
            <span class="sr-only">Link para o perfil @{{ site.twitter }} no Twitter</span>
        </a>
    </li>
    <li class="navbar__item">
        <a href="https://instagram.com/{{ site.instagram }}" target="_blank" class="navbar__link">
            <i class="fab fa-instagram"></i>
            <span class="sr-only">Link para o perfil @{{ site.instagram }} no Instagram</span>
        </a>
    </li>
    <li class="navbar__item">
        <a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" class="navbar__link">
            <i class="fab fa-linkedin"></i>
            <span class="sr-only">Link para o perfil {{ site.linkedin }} no Linkedin</span>
        </a>
    </li>
    <li class="navbar__item">
        <a href="{{ "/feed.xml" | absolute_url }}" target="_blank" class="navbar__link">
            <i class="fas fa-rss"></i>
            <span class="sr-only">Link para o arquivo de feed.xml</span>
        </a>
    </li>
</ul>
