---
layout: default
current: post
class: post-template
disqus: true
---

<main id="site-main" class="container" role="main">
    <div class="post blog-post justify-content-center d-flex">
        <article class="col-md-9 post-single {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">

            <header class="post-single-header">
                <div class="post__meta mb-4 d-flex align-items-center flex-column flex-sm-row">
                    <div class="post__author d-flex align-items-center flex-wrap">
                        <div class="post__avatar">
                            <img src="{{ "/assets/images/avatar.png" | absolute_url }}" alt="Post by Fernando Moreira" class="img-fluid">
                        </div>
                        <div class="title">
                            <span>by Fernando Moreira</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i> {{ page.date | date: "%B, %Y" }}
                        </div>
                        {% include post-readingtime.erb %}
                        <div class="comments meta-last">
                            <i class="fa fa-comment"></i>
                            <span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ page.url }}/">0</span>
                        </div>
                    </div>
                </div>
                <h1 class="post-single-title">{{ page.title }}</h1>
            </header>

            <!-- {% if page.cover %}
                <figure class="post-single-image post__thumbnail">
                    <img src="{{ page.cover | absolute_url }}" alt="{{ page.title }}">
                </figure>
            {% endif %} -->

            <div class="post__details">
                <div class="post-body">
                    {{ content }}
                </div>
            </div>

            {% if page.tags.size > 0 %}
                <div class="post__tags">
                    {% for tag in page.tags %}
                        <a class="post__tag" href='{{ site.baseurl }}tag/{{ tag | downcase | replace: ' ', '-' }}/'>#{{ tag | upcase }}</a>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                {% if page.previous.url %}
                    <a href="{{ page.previous.url }}" class="prev-post text-left d-flex align-items-center">
                        <div class="icon prev">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="text">
                            <strong class="text-primary">Artigo anterior</strong>
                            <h6 class="my-0">{{page.previous.title}}</h6>
                        </div>
                    </a>
                {% endif %}

                {% if page.next.url %}
                    <a href="{{page.next.url}}" class="next-post text-right d-flex align-items-center justify-content-end">
                        <div class="text">
                            <strong class="text-primary">Próximo artigo</strong>
                            <h6 class="my-0">{{page.next.title}}</h6>
                        </div>
                        <div class="icon next">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </a>
                {% endif %}
            </div>
        </article>
    </div>
</main>

{% if jekyll.environment == "production" %}
    {% if site.disqus or page.disqus %}
        <div class="mt-4 pt-4 mb-4 pb-4 container">
            <div class="blog-post justify-content-center d-flex">
                <div class="post-single-comments col-md-9 p-5">
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
