---
layout: default
current: home
class: 'template-home'
---

<main id="site-main" class="site-main outer container" role="main">
    <div class="row" v-masonry transition-duration="0.3s" item-selector=".post">
        {% for post in paginator.posts %}
            {% include post-card.html %}
        {% endfor %}
    </div>

    {% if paginator.total_pages > 1 %}
        <nav aria-label="Paginação">
            <ul class="pagination pagination-template d-flex justify-content-center pb-4">
                {% if paginator.previous_page %}
                    <li class="page-item prev">
                        <a class="page-link" href="/{% if paginator.previous_page != 1 %}page/{{ paginator.previous_page }}{% endif %}">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                {% endif %}

                <li class="page-item"><a class="page-link{% if paginator.page == 1 %} active{% endif %}" href="/">1</a></li>

                {% for count in (2..paginator.total_pages) %}
                    <li class="page-item">
                        <a class="page-link{% if paginator.page == count %} active{% endif %}" href="/page/{{ count }}">{{ count }}</a>
                    </li>
                {% endfor %}

                {% if paginator.next_page %}
                    <li class="page-item next">
                        <a class="page-link" href="/page/{{ paginator.next_page }}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

</main>
